# Bases de datos y Backups
bd/
*.sql
*.backup

# Archivos de configuración local o contraseñas
.env

# Archivos del sistema y de editores
.DS_Store
Thumbs.db
.idea/
.vscode/

# Compilados de Java y Maven
target/
*.class
.mtj.tmp/
